<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465111730158-8j8emhcbhvq5rhfcsai4tbopgf1vhqc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465111730158-8j8emhcbhvq5rhfcsai4tbopgf1vhqc8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>465111730158-bf8huljh29cfcsn3ffq3ftvfre5fdqel.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGWgBJ_4hWesEzmuzPt9h5-b6epxng4jY</string>
	<key>GCM_SENDER_ID</key>
	<string>465111730158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.convenientWaySender</string>
	<key>PROJECT_ID</key>
	<string>convenient-way</string>
	<key>STORAGE_BUCKET</key>
	<string>convenient-way.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465111730158:ios:e9bcf80581495a8437b0ff</string>
</dict>
</plist>